/******Header******/
header {

    background-repeat: no-repeat;
    background-attachment: fixed;

}/******Header******/


/******Nav Bar*****/
#navbar {
    position: sticky;
    top: 0;
    overflow-inline: block;
    background-color: #ffffff;
}/******Nav Bar*****/



/**** Navbar links ****/
#navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    font-family: cursive;
    padding: 10px;
    text-decoration: none;
}


/**** Page content ****/
.content {
    padding: 20px;
}
/******Nav Bar End*****/



/******Body*****/
body {
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(229, 234, 232, 1) 33%, rgba(125, 153, 142, 1) 100%);
    font-family:Geneva;
  font-family: 'Alkatra';font-size: 18px;
justify-content: center
}/******Body*****/



/**Link text**/
a:link {
  color: rgb(162, 195, 181);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(162,195, 181);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(43, 61, 53);
  background-color: transparent;
  text-decoration: underline;
}
/**Link text end**/



footer {
    background-color: rgb(92, 115, 104);
    font-family: cursive;
    padding: 35px;
}