h1 {
  background: #a8a8a8;
  background: radial-gradient(circle, rgb(226, 226, 226) 0%, rgb(197, 196, 196) 100%);
  padding: 60px;
  text-align: center;
  font-family: 'Times New Roman';
  font-size: xx-large;
  box-shadow: 5px 2px 28px 5px rgba(0, 0, 0, 0.84);
}

/* Nav bar begin*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  background-color: #4d4c4c;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #c0c0c0;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
}

ul li a:hover {
  background-color: hsl(0, 0%, 17%);
}

/* Nav bar end*/


h2 {
  background: #a8a8a8;
  background: radial-gradient(circle, rgb(226, 226, 226) 0%, rgb(197, 196, 196) 100%);
  padding: 30px;
  text-align: center;
  font-family: Georgia;
  font-size: medium;
  box-shadow: 5px 2px 28px 5px rgba(0, 0, 0, 0.84);

}

h3 {
  text-align: center;
  background-color: #739fb1;
  color: white;
  padding: 20px;
  font-family: Arial;
  text-size-adjust: medium;
  box-shadow: 5px 2px 28px 5px rgba(0, 0, 0, 0.84);
}

p {
  font-family: Georgia;
  background: #E6E6E6;
  text-align: left;
  font-size: medium;
  padding: 40px;
  border: #a8a8a8;
  box-shadow: 5px 2px 28px 5px rgba(0, 0, 0, 0.84);
}



body {
  border-top: #a8a8a8;
  border-bottom: #a8a8a8;
  background: #757575;
  background: linear-gradient(0deg, rgb(78, 78, 78) 0%, rgb(243, 243, 243) 66%);
}

img {
  float: right;
  padding: 20px;
  text-wrap: 25%;
}

a:link {
  color: #8f8f8f;
}

a:visited {
   color: #8f8f8f
}